body{
    width: auto;
    font-family: 'Urbanist',sans-serif;
}
header{
    width: auto;
    background-color: rgb(130, 205, 197);
    padding: -0.6px;
    text-align: center;
}
.FOTO{
    width: 200px;
    top: -50px;
    left: 35%;
    position: relative;
    padding: 5%;
    transition: 2s;
}
.FOTO:hover{
    transform: scale(1.2);
}
.info{
    text-align: center;
    position: relative;
    top: -80px;
}
h6{
    font-size: 20px;
    position: relative;
    top: -30px;
}
h1{
    position: relative;
    top: 15px;
}
footer{
    width: auto;
    background-color: rgb(130, 205, 197);
    text-align: center;
    position: relative;
    top: -60px;
}